.login{
    background:url(../img/yun.jpg) repeat-y center;
    height: 520px;
    >p{
        width:100%;
        height:30px;
        margin-bottom: 0;
        text-align: center;
        line-height: 30px;
        color: palevioletred;
    }
     >form{
         height:196px;
         width:93.75%;
         padding: 0;
         >div{
             margin-top:10px ;
             padding: 0; 
         }
         >div:nth-child(1){
             >input{
                 outline: none;
                 padding: 0;
                 height:35px;
                 padding:5px 4px ;
             };
             
         }
         >div:nth-child(2){
                >input{
                 outline: none;
                 padding: 0;
                 height:35px;
                 padding:5px 4px ;
             };
             
         }
          >div:nth-child(3){
               >div{
                 padding: 0;
                 height:35px;
                 padding:5px 4px ;
                 background: blueviolet;
                 border-radius:4px ;
                 text-align: center;
                 line-height:25px;
                 color: #fff;
             };
          }
           >div:nth-child(4){
               text-align: center;
               color: #dff0d8;
           }
           >div:nth-child(5){
                margin-top:0;
                text-align: right;
                a{
                    color: red;
                    text-decoration: none;
                }
        }
     }
}
.showbai{
    background:#DBDBDB;
    border: none;
}
.loadshow_login{
    position: fixed;
    right:0;
    top:0;
    bottom:0;
    left:0;
    background:#DDDDDD;
    text-align: center;
    opacity: 0.4;
    display:none;
   
    i{
        margin-top:80% ;
        font-size:40px;
        color:red;
    }
}
