<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale= 1.0, minimun-scale= 1.0, user-scalable=0">
		<title>乐满地商城</title>
		<script src="libs/jquery/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="libs/page_turning/page_turning.js" ></script>
		<script type="text/javascript" src="libs/bootstrap-3.3.7-dist/js/page.js" ></script>
		<script type="text/javascript" src="libs/page_turning/page_turning.js" ></script>
		<script type="text/javascript" src="libs/js/lazyload.js" ></script>
		<script type="text/javascript" src="libs/js/index.js" ></script>
		<script type="text/javascript" src="libs/pluggable/iscroll-probe.js" ></script>
		<script type="text/javascript" src="libs/js/iscrolldata.js" ></script>
		<script type="text/javascript" src="libs/js/footer.js" ></script>
		<link rel="stylesheet" type="text/css" href="libs/css/index.min.css">
		<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
	</head>
    
	<body>
		<div class="header">
			<div class="search-bar">
				<a href="#"></a>
				<div>乐满地商城</div>
				<a href="#" class="fa fa-search "></a>
			</div>
		</div>
		<div class="search_content">
			<div class="search-bar">
				<a href="#"></a>
				<div>搜索商品</div>
				<a href="#" class="fa fa-remove "></a>
			</div>
		</div>
		<div class="group_input ">
			<div class="cow container">
				<span class="fa fa-search col-xs-1 "></span>
			    <span class="col-xs-8 input"><input type="text" class="col-xs-12"/></span>
			    <span class="btn_sou col-xs-2">搜索</span>
			</div>

		</div>
        <!--layout_body-->
		<div class="layout_body"id="content">
			 <div id="scroller">  
            <div id="pullDown" class="ub ub-pc c-gra">  
                <div class="pullDownIcon"></div>  
                <div class="pullDownLabel">下拉刷新</div>  
            </div>  
            <div style="height:530px" class="Runing">
		    	<div id="myCarousel" class="carousel slide" >
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="libs/img/1.jpg" alt="First slide">
						</div>
						<div class="item">
							<img src="libs/img/2.jpg" alt="Second slide">
						</div>
						<div class="item">
							<img src="libs/img/3.jpg" alt="Third slide">
						</div>
					</div>
				</div>
				<div class="show1">
					<img src="libs/img/49.jpg"/>
				</div>
				<div class="show2">
					<a href="javascript:location.href='html/products.html'"><img src="libs/img/31.jpg"/></a>
				</div>
				<div class="show3 category1 container cow">
	
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/27.jpg"/></a>
					</div>
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/3.jpg"/></a>
					</div>
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/27.jpg"/></a>
					</div>
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/27.jpg"/></a>
					</div>
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/27.jpg"/></a>
					</div>
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/27.jpg"/></a>
					</div>
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/27.jpg"/></a>
					</div>
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/27.jpg"/></a>
					</div>
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/27.jpg"/></a>
					</div>
					<div class="col-xs-6">
						<a href="javascript:location.href='html/products.html'"><img src="libs/img/27.jpg"/></a>
					</div>
				</div>
				  <div class="show4">
			    	<a href="javascript:location.href='html/products.html'"><img src="libs/img/50.jpg"/></a>
			    </div>
			    <div class="show4">
			    	<a href="javascript:location.href='html/products.html'"><img src="libs/img/51.jpg"/></a>
			    </div>
			    <div class="show4">
			    	<a href="javascript:location.href='html/products.html'"><img src="libs/img/52.jpg"/></a>
			    </div>
			    <div class="show4">
			    	<a href="javascript:location.href='html/products.html'"><img src="libs/img/53.jpg"/></a>
			    </div>
			    <div class="show1">
					<img src="libs/img/26.jpg"/>
				</div>
				<div class="show5">
					<ul class="list-group content">
						<li list-group-item>
							<div class="proimg"><a href="javascript:location.href='html/products.html'"><img src="libs/img/5.jpg" dk-bind="img"/></a></div>
			                <div class="list-group-item-text" dk-bind="title">拱辰享雪美白精华套装</div>
			                <div class="item-price"><span ng-bind="'¥' + pro.price" class="ng-binding" dk-bind="price">¥120</span></div>
						</li>
					</ul>
				</div>
				<ul>
					<li></li>
				</ul>
	     </div>
            <div id="pullUp" class="ub ub-pc c-gra">  
                <div class="pullUpIcon"></div>  
                <div class="pullUpLabel">上拉显示更多...</div>  
            </div>  
       </div>  
		<div class="scroll_top">
			<i class=" fa fa-arrow-up" ></i>
		</div>
		</div>
		<!--<div class="scroll_top">
			<i class=" fa fa-arrow-up" ></i>
		</div>-->
		<!--layout_footer-->
		<div class="layout_footer" >
			<a ng-repeat="m in navList" href="index.html" class="nav-btn active" style="width:20%;color:#EE0000;">
				<i class="fa fa-home"></i>
				<span ng-bind="m.name" class="ng-binding">首页</span>
			</a>
			<a ng-repeat="m in navList" href="index.html" class="nav-btn active" style="width:20%;color:#ABABAB;">
				<i class="fa fa-database"></i>
				<span ng-bind="m.name" class="ng-binding">积分区</span>
			</a>
			<a ng-repeat="m in navList" href="index.html" class="nav-btn active" style="width:20%;color:#ABABAB;">
				<i class="fa fa-cube"></i>
				<span ng-bind="m.name" class="ng-binding">分类</span>
			</a>
			<a ng-repeat="m in navList" href="html/shopcart.html" class="nav-btn active" style="width:20%;color:#ABABAB;">
				<i class="fa fa-cart-plus"></i>
				<span ng-bind="m.name" class="ng-binding">购物车</span>
			</a>
			<a ng-repeat="m in navList" href="html/Members.html" class="nav-btn active" style="width:20%;color:#ABABAB;">
				<i class="fa fa-user"></i>
				<span ng-bind="m.name" class="ng-binding">个人中心</span>
			</a>
		</div>
		<div class="loadshow_login loadshow_order">
			   <i class="fa fa-spinner fa-pulse"></i>
		 </div>
	</body>

</html>