<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale= 1.0, minimun-scale= 1.0, user-scalable=0">
		<title>我的团队</title>
	    <link rel="stylesheet" href="../libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="../libs/css/index.min.css" />
	    <script type="text/javascript" src="../libs/jquery/jquery-2.1.1.min.js" ></script>
	    <script type="text/javascript" src="../libs/js/right_nav.js" ></script>
	    <script type="text/javascript" src="../libs/js/footer.js" ></script>
	    <script type="text/javascript" src="../libs/js/iscrolldata.js" ></script>
	    <script type="text/javascript" src="../libs/pluggable/iscroll-probe.js" ></script>
	  <script>
	    	$(function(){
	    		right_nav();
	    		//footer;
	    		footer();
	    		new Iscroll("#content4")
	    	})
	    </script>
	</head>
	<body>
		<div class="header">
			<div class="search-bar">
				<a href="javascript:history.go(-1)" class="fa fa-angle-left home"></a>
				<div>我的团队</div>
				<a href="#" class="fa fa-list-ul "></a>
			</div>
		</div>
		<div class="category_right">
			<em></em>
			<div class="shape"></div>
			<ul class="list-group">
			    <li class="list-group-item "><a href="../index.html">首页</a></li>
			    <li class="list-group-item"><a href="../index.html">分类查询</a></li>
			    <li class="list-group-item"><a href="shopcart.html"> 购物车</a> </li>
			    <li class="list-group-item"><a href="Members.html">会员中心</a></li>
           </ul>
		</div>
		<div class="layout_body myteam">
			   <div class="user-finance cow container">
			   	    <div class="col-xs-6">
			   	    	<span class="col-xs-12">100</span>
			   	    	<span class="col-xs-12">总计人数</span>
			   	    </div>
			   	     <div class="col-xs-6">
			   	    	<span class="col-xs-12">50</span>
			   	    	<span class="col-xs-12">已付费人数</span>
			   	    </div>
			   </div>
			   <div class="mychild" id="content4">
			   	 <div id="scroller">  
                 <div id="pullDown" class="ub ub-pc c-gra">  
	                <div class="pullDownIcon"></div>  
	                <div class="pullDownLabel">下拉刷新</div>  
                 </div>
               <div style="height:500px" class="Runing">
			   	<div class="border">
				   <div class="content">
				   	   <div class="content_left">
				   	   	   <div id="img"><img src="../libs/img/18.jpg"/ ></div>
				   	   	   <span class="name">张山</span>
				   	   </div>
				   	    <div  class="content_right">
				   	    	<span>2016-01-01</span>
				   	    </div>
				   </div>
			   </div>
			   <div class="border">
			   	
				   <div class="content">
				   	   <div class="content_left">
				   	   	   <div id="img"><img src="../libs/img/18.jpg"/ ></div>
				   	   	   <span class="name">张山</span>
				   	   </div>
				   	    <div  class="content_right">
				   	    	<span>2016-01-01</span>
				   	    </div>
				   </div>
			   </div>
			   <div class="border">
				   <div class="content">
				   	   <div class="content_left">
				   	   	   <div id="img"><img src="../libs/img/18.jpg"/ ></div>
				   	   	   <span class="name">张山</span>
				   	   </div>
				   	    <div  class="content_right">
				   	    	<span>2016-01-01</span>
				   	    </div>
				   </div>
			   </div>
			   <div class="border">
				   <div class="content">
				   	   <div class="content_left">
				   	   	   <div id="img"><img src="../libs/img/18.jpg"/ ></div>
				   	   	   <span class="name">张山</span>
				   	   </div>
				   	    <div  class="content_right">
				   	    	<span>2016-01-01</span>
				   	    </div>
				   </div>
			   </div>
			    <div class="border">
				   <div class="content">
				   	   <div class="content_left">
				   	   	   <div id="img"><img src="../libs/img/18.jpg"/ ></div>
				   	   	   <span class="name">张山</span>
				   	   </div>
				   	    <div  class="content_right">
				   	    	<span>2016-01-01</span>
				   	    </div>
				   </div>
			   </div>
			    <div class="border">
				   <div class="content">
				   	   <div class="content_left">
				   	   	   <div id="img"><img src="../libs/img/18.jpg"/ ></div>
				   	   	   <span class="name">张山</span>
				   	   </div>
				   	    <div  class="content_right">
				   	    	<span>2016-01-01</span>
				   	    </div>
				   </div>
			   </div>
			    <div class="border">
				   <div class="content">
				   	   <div class="content_left">
				   	   	   <div id="img"><img src="../libs/img/18.jpg"/ ></div>
				   	   	   <span class="name">张山</span>
				   	   </div>
				   	    <div  class="content_right">
				   	    	<span>2016-01-01</span>
				   	    </div>
				   </div>
			   </div>
			   </div>
			      </div>
            <div id="pullUp" class="ub ub-pc c-gra">  
                <div class="pullUpIcon"></div>  
                <div class="pullUpLabel">上拉显示更多...</div>  
            </div>  
        </div>
        <div class="scroll_top">
			<i class=" fa fa-arrow-up" ></i>
		</div>
			   
		</div>
		
		<!--layout_footer-->
		<div class="layout_footer">
			<a ng-repeat="m in navList" href="../index.html" class="nav-btn active" style="width:20%;color: #ABABAB;">
				<i class="fa fa-home"></i>
				<span ng-bind="m.name" class="ng-binding">首页</span>
			</a>
			<a ng-repeat="m in navList" href="../index.html" class="nav-btn active" style="width:20%;color: #ABABAB;">
				<i class="fa fa-database"></i>
				<span ng-bind="m.name" class="ng-binding">积分区</span>
			</a>
			<a ng-repeat="m in navList" href="products.html" class="nav-btn active" style="width:20%;color: #ABABAB;">
				<i class="fa fa-cube"></i>
				<span ng-bind="m.name" class="ng-binding">分类</span>
			</a>
			<a ng-repeat="m in navList" href="shopcart.html" class="nav-btn active" style="width:20%;color: #ABABAB;">
				<i class="fa fa-cart-plus"></i>
				<span ng-bind="m.name" class="ng-binding">购物车</span>
			</a>
			<a ng-repeat="m in navList" href="Members.html" class="nav-btn active" style="width:20%;color: #ABABAB;">
				<i class="fa fa-user"></i>
				<span ng-bind="m.name" class="ng-binding">个人中心</span>
			</a>
		</div>
		<div class="loadshow_login loadshow_order">
			   <i class="fa fa-spinner fa-pulse"></i>
		 </div>
	</body>
</html>
