<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale= 1.0, minimun-scale= 1.0, user-scalable=0">
		<title>完善我的资料</title>
	    <link rel="stylesheet" href="../libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="../libs/css/index.min.css" />
	    <script type="text/javascript" src="../libs/jquery/jquery-2.1.1.min.js" ></script>
	    <script type="text/javascript" src="../libs/js/right_nav.js" ></script>
	    <script>
	    	$(function(){
	    		right_nav();
	    	})
	    </script>
	</head>
	<body>
		<div class="header">
			<div class="search-bar">
				<a href="javascript:history.go(-1)" class="fa fa-angle-left home"></a>
				<div>完善我的资料</div>
				<a href="#" class="fa fa-list-ul "></a>
			</div>
		</div>
		<div class="category_right">
			<em></em>
			<div class="shape"></div>
			<ul class="list-group">
			    <li class="list-group-item "><a href="../index.html">首页</a></li>
			    <li class="list-group-item"><a href="../index.html">分类查询</a></li>
			    <li class="list-group-item"><a href="shopcart.html"> 购物车</a> </li>
			    <li class="list-group-item"><a href="Members.html">会员中心</a></li>
           </ul>
		</div>
		<div class="layout_body Perfect_information">
			<div class="gege"></div>
			<div class="information">
				<form class="cow container">
					<div class="col-xs-12 myself">
						<div class="col-xs-3 text" >昵称</div>
						<input type="text" class="col-xs-9"/>
					</div>
					<div class="col-xs-12 myself">
						<div class="col-xs-3 text">手机号码</div>
						<input type="text" class="col-xs-9"/>
					</div>
					<div class="col-xs-12 myaddren">
						<div class="col-xs-3">收货地址</div>
						<div class="col-xs-9">
							 <select class="col-xs-12">
							 	<option>选择省</option>
							 	<option>广东省</option>
							 	<option>山东省</option>
							 </select>
							 <select class="col-xs-12">
							 	<option>选择市</option>
							 </select>
							 <select class="col-xs-12">
							 	<option>选择区/县</option>
							 </select>
							 <textarea class="col-xs-12"></textarea>
						</div>
					</div>
					<div class="col-xs-12 get">
						提交
					</div>
				</form>
			</div>
		</div>
		<!--layout_footer-->
		<div class="layout_footer">
			<a ng-repeat="m in navList" href="../index.html" class="nav-btn active" style="width:20%;">
				<i class="fa fa-home"></i>
				<span ng-bind="m.name" class="ng-binding">首页</span>
			</a>
			<a ng-repeat="m in navList" href="../index.html" class="nav-btn active" style="width:20%;">
				<i class="fa fa-database"></i>
				<span ng-bind="m.name" class="ng-binding">积分区</span>
			</a>
			<a ng-repeat="m in navList" href="../index.html" class="nav-btn active" style="width:20%;">
				<i class="fa fa-cube"></i>
				<span ng-bind="m.name" class="ng-binding">分类</span>
			</a>
			<a ng-repeat="m in navList" href="shopcart.html" class="nav-btn active" style="width:20%;">
				<i class="fa fa-cart-plus"></i>
				<span ng-bind="m.name" class="ng-binding">购物车</span>
			</a>
			<a ng-repeat="m in navList" href="Members.html" class="nav-btn active" style="width:20%;">
				<i class="fa fa-user"></i>
				<span ng-bind="m.name" class="ng-binding">个人中心</span>
			</a>
		</div>
	</body>
</html>
